.app {
  height: 100%;

  .aside-container {
    height: 100%;
    background-color: #3ba0e9;

    li {
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid white;

      a {
        color: white;
      }
    }
  }

  .ant-layout {
    background-color: white;
    padding: 16px;
  }
}